- provide :page_name, 'About'

%h3
  What is
  %strong Housing MA
  ?
%p
  Housing MA provides housing data on every municipality in the state, and generates housing needs assessment content for municipal housing planners.
%p
  Housing MA is intended to support the larger Housing Production Planning process. The Basic Needs Assessment and Housing Data Profiles are intended to ease the burden and significantly reduce the cost of the data collection, processing, and analysis needed for Housing Production Plans.
%p
  The
  %strong Basic Needs Assessment
  automatically generates some content for Housing Needs Assessments, required for Housing Production Plans. Most Housing Production Plans will need more content and analysis.
%p
  The
  %strong Housing Data Profile
  shows hundreds of housing-related indicators for each municipality, and compares the municipality to its neighbors, the county, the region (defined by RPA boundary), and the state. The Housing Data Profile eliminates the need for most of the data collection, processing, and analysis traditionally done for Housing Needs Assessments.

%h3 Data
%table.data.download-table
  %thead
    %th.download-table__header Tables for download from Housing MA
    %th.download-table__header Current as of
    %th.download-table__header.download-table__source-col Source
  %tr
    %td.download-table__cell.download-table__cell--long
      b01002_med_age_acs_m.csv
    %td.download-table__cell
      5yr Avg 2008-12
    %td.download-table__cell
      ACS
  %tr
    %td.download-table__cell.download-table__cell--long
      b25024_hu_units_in_structure_acs_m.csv
    %td.download-table__cell
      5yr Avg 2008-12
    %td.download-table__cell
      ACS
  %tr
    %td.download-table__cell.download-table__cell--long
      b25091_b25070_costburden_acs_m.csv
    %td.download-table__cell
      5yr Avg 2008-12
    %td.download-table__cell 
      ACS
  %tr
    %td.download-table__cell.download-table__cell--long
      b25091_b25070_costburden_acs_m.csv
    %td.download-table__cell
      5yr Avg 2008-12
    %td.download-table__cell
      ACS
  %tr
    %td.download-table__cell.download-table__cell--long
      b25127_hu_tenure_year_built_units_acs_m.csv
    %td.download-table__cell
      5yr Avg 2008-12
    %td.download-table__cell
      ACS
  %tr
    %td.download-table__cell.download-table__cell--long
      census2010_p5_race_m.csv
    %td.download-table__cell
      2010
    %td.download-table__cell
      Census
  %tr
    %td.download-table__cell.download-table__cell--long
      demo_population_by_decade_m.csv
    %td.download-table__cell
      1970-2010
    %td.download-table__cell
      Census
  %tr
    %td.download-table__cell.download-table__cell--long
      demo_population_minorities_00_10_m.csv
    %td.download-table__cell
      2000 and 2010
    %td.download-table__cell
      Census
  %tr
    %td.download-table__cell.download-table__cell--long
      educ_school_enrollment_by_year_m.csv
    %td.download-table__cell
      2012-13
    %td.download-table__cell
      MA DESE
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_affordable_sf_sales_m.csv
    %td.download-table__cell
      various: 2009-2014
    %td.download-table__cell
      MA Level 3 Parcels (MassGIS)
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_building_permits_m.csv
    %td.download-table__cell
      2012
    %td.download-table__cell
      Census Building Permit Survey
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_foreclosures_m.csv
    %td.download-table__cell
      2012
    %td.download-table__cell
      TBF and Warren Group
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_hh_00_10m.csv
    %td.download-table__cell
      2000 and 2010
    %td.download-table__cell
      Census
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_hh_fam_00_10m.csv
    %td.download-table__cell
      2000 and 2010
    %td.download-table__cell
      Census
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_section8_income_limits_by_year_m.csv
    %td.download-table__cell
      FY 2014
    %td.download-table__cell
      HUD
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_shi_m.csv
    %td.download-table__cell
      2013-04
    %td.download-table__cell
      DHCD
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_table7_18_hh_tenure_affordability_gap_chas_m.csv
    %td.download-table__cell
      5yr Avg 2007-11
    %td.download-table__cell
      CHAS
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_table7_hh_income_by_cb_chas_m.csv
    %td.download-table__cell
      5yr Avg 2007-11
    %td.download-table__cell
      CHAS
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_table7_hh_income_chas_m.csv
    %td.download-table__cell
      5yr Avg 2007-11
    %td.download-table__cell
      CHAS
  %tr
    %td.download-table__cell.download-table__cell--long
      hous_table7_hh_type_by_cb_chas_m.csv
    %td.download-table__cell
      5yr Avg 2007-11
    %td.download-table__cell
      CHAS
  %tr
    %td.download-table__cell.download-table__cell--long
      projections_hh_by_age_m.csv
    %td.download-table__cell
      2013
    %td.download-table__cell
      MAPC Analysis
  %tr
    %td.download-table__cell.download-table__cell--long
      projections_hh_m.csv
    %td.download-table__cell
      2013
    %td.download-table__cell
      MAPC Analysis
  %tr
    %td.download-table__cell.download-table__cell--long
      projections_hhsize_m.csv
    %td.download-table__cell
      2013
    %td.download-table__cell
      MAPC Analysis
  %tr
    %td.download-table__cell.download-table__cell--long
      projections_hu_demand_by_age_m.csv
    %td.download-table__cell
      2013
    %td.download-table__cell
      MAPC Analysis
  %tr
    %td.download-table__cell.download-table__cell--long
      projections_pop_by_age_m.csv
    %td.download-table__cell
      2013
    %td.download-table__cell
      MAPC Analysis

%h3 Housing Planning Assistance
%p
  MAPC helps municipalities create and implement housing production plans, creates and disseminates housing data, prepares housing publications and articles, and produces local and comprehensive community development plans and model zoning bylaws for housing diversity and affordability. Our goal is to support planning for adequate, decent and affordable housing that is near jobs and transportation networks.
%p
  If you have questions, or would like to request housing planning services from MAPC, please contact:
%p
  %ul.contact
    %li
      %a{href: 'mailto:KMilchman@mapc.org'} Karina Milchman, AICP
    %li
      Chief of Housing and Neighborhood Development
    %li
      Metropolitan Area Planning Council
    %li
      %a{href: 'mailto:KMilchman@mapc.org'} KMilchman@mapc.org
    %li
      %a{tel:  '617-933-0738'} (617) 933-0738

%h3 Website Assistance
%p
  If you've found something amiss with the website, or if you would like some help using the site, please send an email to
  %a{href: 'mailto:digital@mapc.org'} digital@mapc.org.

%h3 Contributing
%p
  Housing MA is an open source software project, its code licensed under the MIT License.
%p
  The code, licensed under the MIT License, is available on
  =link_to 'Github',  'http://github.com/MAPC/housingma', target: '_blank'
  #{"."}

%h3 Credits
%p
  Housing MA was built by the
  %a{href: 'http://www.mapc.org/data-services'} Data Services Department
  of the
  %a{href: 'http://mapc.org'} Metropolitan Area Planning Council.
%p
  Housing MA was generously supported by the
  %a{href: 'http://www.mass.gov/anf/budget-taxes-and-procurement/working-for-you/community-innovation-challenge-grant/', target: '_blank'}Community Innovation Challenge Grant Program.